{%- assign card_tags = card_product.metafields.custom.card_tags.value -%}
{% if card_tags %}
  <ul class='absolute top-4 left-4 flex flex-wrap gap-2 z-10'>
    {% for tag in card_tags %}
      {% assign tag = tag %}
      {% assign tag_classes = 'block text-xs px-2 py-1 font-medium text-black/70 bg-(--tag-color)' %}
      <li class='bg-cloud'>
        <span class='{{ tag_classes }}' style='--tag-color: {{ tag.color }};'>
          {% if tag.icon %}
            {{ tag.icon | image_url: width: 72 | image_tag: class: 'inline-icon inline-block' }}
          {% endif %}
          {{ tag.title }}
        </span>
      </li>
    {% endfor %}
  </ul>
{% endif %}
