{% comment %}
  this is only here to trigger tailwind class generation
{% endcomment %}
<a class='overflow-hidden group block' href='https://instagram.com/honepiercing' target='_blank'>
  <img
    src='{src}'
    width='0'
    height='0'
    alt=''
    class='block w-full h-auto aspect-4/5 object-cover group-hover:scale-105 transition-transform duration-600'
  >
</a>
