<div class='hone-buttons flex flex-wrap gap-4 items-center my-6 [&_hone-button]:my-0'>
  {% content_for 'blocks' %}
</div>
{% schema %}
{
  "name": "Buttons",
  "tag": null,
  "blocks": [{ "type": "@app" }, { "type": "button" }, { "type": "cta" }],
  "presets": [
    {
      "name": "Buttons",
      "category": "Links",
      "blocks": [
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
