@font-face {
  font-family: 'pp-neue-montreal';
  src: url('PPNeueMontreal-Thin.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'pp-neue-montreal';
  src: url('PPNeueMontreal-Book.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'pp-neue-montreal';
  src: url('PPNeueMontreal-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'pp-neue-montreal';
  src: url('PPNeueMontreal-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}